<!--
title: Helimura
description: 
published: true
date: 2024-02-15T10:19:59.901Z
tags: 
editor: ckeditor
dateCreated: 2023-11-20T10:44:10.004Z
-->

<p><a href="./index.html"><span class="text-big">Back to Helitaku</span></a></p>
<h1 style="text-align:center;"><span class="text-huge" style="font-family:Verdana, Geneva, sans-serif;">Helimura</span></h1>
<p style="text-align:center;"><span class="text-big" style="font-family:Verdana, Geneva, sans-serif;">Demo </span><a href="http://demo.helimura.com/"><span class="text-big" style="font-family:Verdana, Geneva, sans-serif;">http://demo.helimura.com/</span></a></p>
<p style="text-align:center;"><span class="text-big" style="font-family:Verdana, Geneva, sans-serif;">Source code </span><a href="https://codeberg.org/helitaku/helimura"><span class="text-big" style="font-family:Verdana, Geneva, sans-serif;">https://codeberg.org/helitaku/helimura</span></a></p>
<p style="text-align:center;">&nbsp;</p>
<p>Helimura is a framework for serving digital content in the real world, at predetermined locations. Those predetermined locations are called <i>geofences</i>. You may consider these geofences as virtual boundaries of many digital gardens.</p>
<p>The content is collaboratively hosted on the decentralized network <i>IPFS</i>.<br>&nbsp;</p>
<p>Anyone owning a smartphone can access the digital content served by Helimura, provided they access a URL and activate the geolocation of their device.</p>
<p>&nbsp;</p>
<p>Helimura was created as a mean for artist to reach to the world in an free, easy, and meaningful way.&nbsp;</p>
<p>It is a framework for Art, in all its forms in mind.</p>
<p>However, its vesatility may extend its use to many other scopes, as advertising, culture, or education, to cite a few.<br>&nbsp;</p>
<h1>What Helimura is</h1>
<h2>Frictionless</h2>
<p>Every new solution seems to need an app nowadays. It is a hassle to install an app and open it anytime we want to use it.&nbsp;<br>&nbsp;</p>
<p>It is also well known that most app are closed sourced.&nbsp;</p>
<p>By using them, we commit to respect their obscure terms of services, that might eventually end up in a breach of trust. Sometimes, we need to create an account, giving yet another service personal informations.<br>&nbsp;</p>
<p>Helimura takes a fundamental opposite approach by being as frictionless as possible. All is needed is to access a URL from a web browser.<br>&nbsp;</p>
<p>Web browser are evolving well and fast. So well, that nowadays, even 3D videogames, VR and AR can be loaded from a website.<br>Helimura takes full advantage of this online experience, by serving any digital content as a micro-website. The only limit is creativity.<br>&nbsp;</p>
<h2>For an enhanced experience</h2>
<p>"<i>Why would I go out if I can access as many contents from the comfort of my home?</i>"<br>&nbsp;</p>
<p>The use of smartphone has become such a convenience, that it seems obsolete to limit digital content to a specific place.</p>
<p>However, in the age of infinite scrolling, we consume more content than ever, while being as bored.</p>
<p>&nbsp;</p>
<p>Helimura enhances the experience of any digital content, by making a location part of it.</p>
<p>Why not enjoy a song about nature, while walking near the river that inspired the artist?</p>
<p>Why not watch a short movie starring a restaurant while smelling its cuisine in the real world?</p>
<p>Why not visit the field of an historic battle, while listening to an audio guide from a History museum?</p>
<p>A content provided with Helimura is a unique occasion to enhance a user experience, enjoying it with all their senses. This allows the content creator to show more than what meets the eyes.<br>&nbsp;</p>
<h2>For equality&nbsp;</h2>
<h3>Between creators</h3>
<p>Helimura is made with universality in mind. Every creator is invited to use it.</p>
<p>From world renowned artist, to weekend hobbyist, everyone can freely create geofences around the world.&nbsp;</p>
<p>&nbsp;</p>
<h3>Between providers</h3>
<p>Because it lives on IPFS, everyone can become a host of the content, and make it accessible to the internet. No need for a private hosting service, friends and family can become your provider!</p>
<p>&nbsp;</p>
<h3>Between developers</h3>
<p>Helimura is opensource. Anyone can fork it and start their own flavor of the project. Or better, improve the original framework for everyone to benefit from it!</p>
<p>&nbsp;</p>
<h3>And between users&nbsp;</h3>
<p>Being exhausted workers going home after a long shift, bored weekenders or digital art amateurs, everyone has access to digital content from Helimura.</p>
<p><br>Because it is as frictionless as possible, Helimura reaches every class and age in the population.</p>
<p>With geofences in your neighborhood, Art comes to you and seamlessly immerses itself in your everyday life.<br>&nbsp;</p>
<h2>Playful</h2>
<p>The multitude of apps dedicated to geocaching and treasure hunting are proof that we enjoy exploring and discovering. This is what makes us...us</p>
<p>From child's play to the infamous internet search rabbit holes, we crave mysteries and seeking.&nbsp;<br>Helimura scratches this itching by transforming any area into an Easter egg hunt.<br>&nbsp;</p>
<p>Places familiar to you become a new source of discovery. You can explore a new landscape in a place you already visited for hundreds of times.<br>&nbsp;</p>
<h2>Tamperproof</h2>
<p>Because any data uploaded to IPFS is self-certified and has a unique, immutable fingerprint, Helimura can safely reference a link to a digital content, knowing it could never be replaced with malicious data. A modified version of the data would inherently generate a new fingerprint, and thus, a new URL.<br>&nbsp;</p>
<p>This makes the creation of virtual galleries unhackable, easy, and safe. IPFS removes the need of a trusted certificate authority, and a strong encrypted data transfer setup.<br>&nbsp;</p>
<h1>What Helimura is not</h1>
<h2>A walled garden</h2>
<p>A walled garden is a closed environment that purposely controls and restricts access to online content. It entices the user to interact more inside the closed environment, while making navigation outside the ecosystem challenging, or impossible.<br>&nbsp;</p>
<p>A good example of a walled garden is the use of messenger apps, when a user from one app cannot send messages to someone using a different app.<br>&nbsp;</p>
<p>All the data uploaded on IPFS and accessible with Helimura is in clear text. Anyone knowing the URL of a content has full access to its source code. By its design, Helimura cannot and won't ever be a walled garden.<br>&nbsp;</p>
<h2>Profit driven</h2>
<p>Helimura in its core is not profit-driven. Being open source, and based on 100% open-source technologies, it will never close its source code for selling.<br>&nbsp;</p>
<p>This being said, anyone is free to fork it, and make an <a href="https://boingboing.net/2024/02/13/enshittification-is-coming-for-everything.html">enshittifiable</a> variation of the framework.<br>&nbsp;</p>
<h2>A one-stop solution</h2>
<p>Helimura in itself is agnostic and bare bone. As it is versatile enough to be adapted to various use cases, it also requires elbow greasing for extended features.<br>&nbsp;</p>
<h1>Example use cases</h1>
<p>They are plenty, but we decided to choose just a few</p>
<ul>
  <li>A contemporary art museum hosts an exposition about a sculpture artist. During the period of the exposition, bystanders can see 3D models of the sculptures in AR, while they are walking in the park near the entrance of the museum.</li>
  <li>To boost tourism in a city rich in History, each point of interest has a geofence that showcases clips from film archives, starring the spot.</li>
  <li>A writer makes their narration more entertaining, by giving two or more options about what comes next in each chapter. Depending on what option the user takes, they are invited to go to a different location, where the narration relates to their choice.&nbsp;<br>&nbsp;</li>
</ul>
<h1>What comes next? Maybe...</h1>
<p>At some point, new features will be added to Helimura.&nbsp;</p>
<ul>
  <li>Because of the collaborative aspect of content hosting on IPFS, people benevolently hosting the content could be rewarded for their computing power. For example, anyone hosting the music of an artist for a prolonged period of time, could receive a “Thank You” video, or tickets for the next live event from the artist.&nbsp;</li>
  <li>Time-limited streaming of a live event in a geofenced place. People would gather and see the live-streamed content on their smartphone.</li>
  <li>IPFS is a promising technology that hasn't shown everything it can do yet. Due to its versatility and reliance on web browsers, Helimura will naturally continue to gain new features and possibilities. We are looking forward to where it will take us in the future.</li>
</ul>
