<!--
title: Home
description: 
published: true
date: 2023-11-20T11:45:35.626Z
tags: 
editor: ckeditor
dateCreated: 2023-11-19T23:12:22.416Z
-->

<figure class="image image-style-align-right"><img src="/logo_resized.png"></figure>
<h1 style="text-align:center;">Helitaku</h1>
<h5 style="text-align:center;">&nbsp;</h5>
<h5 style="text-align:center;"><span style="font-family:Verdana, Geneva, sans-serif;">Contact&nbsp;</span></h5>
<p style="text-align:center;"><a href="mailto:pukykoi@helitaku.com"><span style="font-family:Verdana, Geneva, sans-serif;">pukykoi@helitaku.com</span></a></p>
<p style="text-align:center;"><a href="https://codeberg.org/helitaku">https://codeberg.org/helitaku</a></p>
<p>&nbsp;</p>
<h2>&nbsp;</h2>
<h2>&nbsp;</h2>
<h2><span style="font-family:Verdana, Geneva, sans-serif;">Our philosophy</span></h2>
<h3><span style="font-family:Verdana, Geneva, sans-serif;">Expression</span></h3>
<p><span style="font-family:Verdana, Geneva, sans-serif;">Art will always be at the heart of our philosophy.</span></p>
<p><span style="font-family:Verdana, Geneva, sans-serif;">We need art today, more than ever. Communication is challenged everyday by the state of the world. &nbsp;&nbsp;</span></p>
<p><span style="font-family:Verdana, Geneva, sans-serif;">Art transcends the barriers of language and culture.</span></p>
<p><span style="font-family:Verdana, Geneva, sans-serif;">When words are not sufficient anymore, other forms of expression light up the darkness.</span></p>
<h3><span style="font-family:Verdana, Geneva, sans-serif;">Decentralization</span></h3>
<p><span style="font-family:Verdana, Geneva, sans-serif;">Our main objective is to provide the tools to allow anyone to share their creative content. Everyone has the right to express themselves. No matter their situation, way of living, or country. Full stop. Art is for everyone.</span></p>
<p><span style="font-family:Verdana, Geneva, sans-serif;">This is why our core philosophy is based on the decentralization of our technologies. Anyone should be able to host their own content without hassle, on their home infrastructure, a friend's or an entity they put their trust into.</span></p>
<p><span style="font-family:Verdana, Geneva, sans-serif;">Today, artists don't have to bind themselves to a revenue driven, post-capitalist content provider, anymore. This is the future, and we want to help make it happen.</span></p>
<h3><span style="font-family:Verdana, Geneva, sans-serif;">Transparency</span></h3>
<p><span style="font-family:Verdana, Geneva, sans-serif;">Last but not least, Our tools are and will stay open-source. For all the reasons above, we strongly believe that full transparency is what will make our technology grow organically.</span></p>
<p><span style="font-family:Verdana, Geneva, sans-serif;">Crossbreeding produces mutation.</span></p>
<p><span style="font-family:Verdana, Geneva, sans-serif;">Mutation produces the art of tomorrow.</span></p>
<h2>&nbsp;</h2>
<h2>Helimura</h2>
<p>&nbsp;In response to our philosophy, we are working on a project named Helimura.</p>
<p><a href="./helimura.html">Head out to this page</a> for more information on the project.&nbsp;</p>
<p><span class="text-big" style="font-family:Verdana, Geneva, sans-serif;">Demo </span><a href="http://demo.helimura.com/"><span class="text-big" style="font-family:Verdana, Geneva, sans-serif;">http://demo.helimura.com/</span></a></p>
<p><span class="text-big" style="font-family:Verdana, Geneva, sans-serif;">Source code </span><a href="https://codeberg.org/helitaku/helimura"><span class="text-big" style="font-family:Verdana, Geneva, sans-serif;">https://codeberg.org/helitaku/helimura</span></a></p>
<p>&nbsp;</p>
<h2>About us</h2>
<p>Strong of almost ten years of experience in the animation film and video game industry as developer, we decided to take advantage of this acquired skill set and help the growth of a community close to our heart: digital art.</p>
<p>Opensource developers and digital artists have more common interest than one might assume. Collaborating on meaningful content, sharing, helping out each other, making people happy. Despite all this, both worlds have difficulties communicating with each other.&nbsp;</p>
<p>We believe, at Helitaku, that we can become the bridge needed to take the best of both world and spread the beauty of creativity, through the endless maze of cut edge technologies.&nbsp;</p>
